.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.about__title {
  font-size: 42px;
}
.about__subtitle {
  font-size: 24px;
  margin: 0;
}

.about__photo {
  width: 450px;
  height: auto;
  border-radius: 35px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.about__subtitle_color_pink {
  color: #ff06c5;
}
