.about {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 115px;
  position: relative;
}

.about__title {
  font-size: 36px;
}
.about__subtitle {
  font-size: 22px;
  margin: 0;
}

.about__photo {
  width: 450px;
  height: auto;
  border-radius: 35px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.about__subtitle_color_pink {
  color: #ff06c5;
}
