.back__arrow {
  transform: rotate(270deg);
  width: 80px;
  height: 90px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  transition: 0.5s linear;
}
.back__arrow:hover {
  opacity: 0.5;
}

@media (max-width: 480px) {
  .back__arrow {
    display: none;
  }
}