.page {
  /* background: #042038; */
  background: linear-gradient(#042038 95%, #0f60a7);
  position: relative;
}

.page__about {
  margin-top: 200px;
}

.page__slider {
  margin-top: 200px;
}

.page__footer {
  margin-top: 200px;
}
