.page {
  background: #042038;
  position: relative;
}

.page__about {
  margin-top: 200px;
}

.page__slider {
  margin-top: 200px;
}

.page__footer {
  margin-top: 200px;
}

.footer__title_color_red {
  color: rgb(216, 29, 29);
}
