.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects__title {
  margin-bottom: 50px;
}

.projects__wrapper {
  margin: 0 auto;
  width: 60vw;
  position: relative;
}

.carousel-indicators {
  position: absolute;
  bottom: -100px;
}

.carousel-control-next-icon {
  position: absolute;
  bottom: -60px;
  right: 0;
}

.carousel-control-prev-icon {
  position: absolute;
  bottom: -60px;
  left: 0;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 85%;
  background-color: rgb(138, 138, 138, .3);
}

.carousel__title {
  color: #ff06c5;
  text-shadow: 0px 0px 5px #ff06c5;;
}
