.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__photo {
    width: 450px;
    height: auto;
    border-radius: 35px;
}

.about__photo::after {
    content: '';
    position: absolute;
    top: 0;
    /* left: 0; */
    width: 100%;
    height: 100%;
    background: #496e8d;
    /* z-index: 100; */
    /* mix-blend-mode: color; */
}